@import 'filepond/dist/filepond.min.css';
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'highlight.js/styles/github-dark.css';

.ck-editor__editable {
    @apply h-96;
}